.bye {
  margin-bottom: 40px;
  background-image: url('../../../public/images/main/main2.jpg');
  background-size: 100%; /* 이미지를 요소의 크기에 맞게 확대/축소합니다 */
  background-position: center; /* 이미지를 가운데 정렬합니다 */
}

.image {
  width: 100%;
  height: auto;
}
