@import url('https://webfontbox.github.io/Arita/font.css');
@import url('https://webfontbox.github.io/Arita/font.min.css');

$font: 'Arita buri';

.intro {
  font-family: 'Arita buri';
  overflow: hidden;

  .door {
    .image {
      float: right;
      height: auto;
      width: 83%;
      margin-bottom: 40px;
    }
  }

  .name-container {
    float: right;
    width: 17%; /* 수정 */
    padding-top: 50px;
    padding-left: 0; /* 수정 */
  }

  .name {
    padding-top: 0;
    padding-left: 20px; /* 수정 */
    font-size: 20px;
    font-family: 'Arita buri';

    .txt { 
      padding-bottom: 5px;
    }
    
    .ring { 
      padding-bottom: 5px;
      size: 10px;
    }
  }

  // margin: 20px;

  // overflow: visible;
  // position: relative;
  // padding-left: 20px;
  // padding-top: 40px;

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 1px;

  // // max-width: 80%;
  // height: 700px;

  // background-image: linear-gradient(
  //     to top,
  //     rgba(255, 255, 255, 0),
  //     rgba(255, 255, 255, 0) 100%
  //   ),
  //   url('../../../public/images/main2.jpg');

  // border-radius: 5%;
  // background-image: url('../../../public/images/main2.jpg');
  // position: relative;
}
