.information {
  padding: 40px 0 !important;
  background-color: #ffffff;
  
  .header {
    padding: 10px 0;
    text-align: center;
    margin: 10px 0;

    .title {
      color: #a2d3cd;
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 3px;
      line-height: 25px;
      font-weight: 700;
      -webkit-text-stroke: 0 !important;
    }

    .sub-title {
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-top: 10px;
      margin-bottom: 12px;
    }
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 1000;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: block; // centers text inside tabs
  flex: 1;
  text-align: center;
}

// .ant-tabs-nav > div:nth-of-type(1) {
//   display: unset !important;
//   width: 100% !important;
// }

.tab {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
  font-family: AritaBuri;
}

.line {
  font-family: AritaBuri;
  padding: 4px;
}
