.gallery {
  padding: 20px 0 !important;
  // background-color: #a2d3cd;
  background-color: rgba(162, 211, 205, 0.5);


  .container {
    // margin-right: 10px;
    // margin-left: 10px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    padding: 10px 0;
    text-align: center;
    margin: 10px 0;

    .title {
      font-size: 1.2rem;
      letter-spacing: 3px;
      line-height: 25px;
      color: #646464;
      font-weight: 700;
      -webkit-text-stroke: 0 !important;
    }

    .sub-title {
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-top: 10px;
      margin-bottom: 12px;
    }
  }

  .body {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-radius: 20%;

    .image {
      background-color: (0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5%;
    }
  }
}



.ant-image-preview-wrap {
  background-color: rgb(0, 0, 0, 0.7);
}

.ant-image-preview-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ant-image-preview-operations {
  display: none;
}