.gallery {
  padding: 20px 0 !important;
  // background-color: #a2d3cd;
  background-color: rgba(162, 211, 205, 0.5);

  .container {
    // margin-right: 10px;
    // margin-left: 10px;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    padding: 10px 0;
    text-align: center;
    margin: 10px 0;

    .title {
      font-size: 1.2rem;
      letter-spacing: 3px;
      line-height: 25px;
      color: #646464;
      font-weight: 700;
      -webkit-text-stroke: 0 !important;
    }

    .sub-title {
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-top: 10px;
      margin-bottom: 12px;
    }
  }

  .body {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-radius: 20%;

    .image {
      background-color: (0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5%;
    }
  }
}

.imgPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0); /* 모달 배경의 투명도 조절 */
  z-index: 999;

  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    // background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    // margin-top: auto;
    // margin-bottom: auto;
  }

  .mySwiper2 {
    height: 70%;
    width: 100%;
    margin-top: auto;
    // position: relative;
  }

  .mySwiper {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    opacity: 0.7;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.9;
    color: rgb(255, 255, 255) !important;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
  }

  .close-btn {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 3px;
    align-items: center;
    justify-content: center;
    text-align: right;
    font-size: 22px;
    color: rgb(255, 255, 255, 0.7);
  }
}
