@import url('https://webfontworld.github.io/amore/AritaBuri.css');

.sectionMg {
  text-align: center;
  // margin: 0 !important;
  // padding: 10px 0 25px;
  padding: 40px 0 !important;

  font-family: 'AritaBuri';

  .sectionHead {
    .enstr {
      font-size: 1.2rem;
      // font-family: Crimson Pro, serif;
      letter-spacing: 3px;
      line-height: 25px;
      color: #a2d3cd;
      -webkit-text-stroke: 0 !important;
    }

    // .ment {
    //   display: block;
    //   font-size: 1.15rem;
    //   // font-family: Crimson Pro, serif;
    //   color: #a2d3cd;
    //   letter-spacing: 0.5px;
    //   line-height: 2;
    // }
  }

  .introMent {
    font-family: 'AritaBuri';
    font-weight: 400;
    font-size: 1.0rem;
    color: #585858;
    padding: 15px 33px;
    line-height: 2;
    .strong {
      color: rgb(0, 0, 0);
    }
  }
}

// .title_eng_writing .sectionHead .enstr {
//   display: block;
// }

// .sectionHead .desc {
//   color: #555;
//   line-height: 1.7;
//   font-size: 1.4rem;
// }

// .sectionHead .desc .emp {
//   font-size: 26px;
//   margin: 20px 0 5px;
// }

// .sectionDesc {
//   color: #544f4f;
//   font-size: 1.4rem;
//   line-height: 1.75;
//   margin-top: 20px;
//   padding: 0 33px;
// }
