$main-color: #c87a7a;

.introLayer {
  text-align: center;
}
.sectionMg {
  margin: 0 !important;
  padding: 30px 0 25px;
  padding: 40px 0 !important;

  .sectionHead {
    text-align: center;

    .enstr {
      font-size: 1.2rem;
      font-family: Crimson Pro, serif;
      letter-spacing: 3px;
      line-height: 20px;
      color: #c88989;
      opacity: 0.6;
      -webkit-text-stroke: 0 !important;
    }
    
    .name {
      display: block;
      font-size: 22px;
      font-family: Crimson Pro, serif;
      color: #c88989;
      letter-spacing: 0.5px;
      line-height: 2;
    }
  }
}
.strong {
  color: rgb(216, 82, 82);
}
// .title_eng_writing .sectionHead .enstr {
//   display: block;
// }

// .sectionHead .desc {
//   color: #555;
//   line-height: 1.7;
//   font-size: 1.4rem;
// }

// .sectionHead .desc .emp {
//   font-size: 26px;
//   margin: 20px 0 5px;
// }

// .sectionDesc {
//   color: #544f4f;
//   font-size: 1.4rem;
//   line-height: 1.75;
//   margin-top: 20px;
//   padding: 0 33px;
// }
