$main-color: #a2d3cd;
$background-color: rgb(255, 255, 255);

// @font-face {
//   font-family: 'MaruBuri2';
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
//   src: url('../public/font/MaruBuri-Regular.woff') format('woff');
// }

@import url('https://webfontworld.github.io/amore/AritaBuri.css');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'AritaBuri';
}

//여기전역변수 입력
.app {
  text-align: 'center';
  background-color: var(--bacground-color);

  // font-family: MaruBuri Regular, MaruBuri Regular Placeholder sans-serif;
  // font-family: 'NanumMyeongjo';
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased; //이 속성은 웹킷(WebKit) 기반 브라우저에서 폰트의 안티앨리어싱(Anti-aliasing)을 활성화합니다. 안티앨리어싱은 폰트의 가장자리를 부드럽게 만들어 텍스트가 더 선명하게 보이도록 도와줍니다. 이것은 특히 작은 폰트 크기에서 유용하며, 텍스트가 흐리게 보이는 것을 방지합니다.
  // -moz-osx-font-smoothing: grayscale; //이 속성은 모질라(Mozilla) 파이어폭스(Firefox) 브라우저에서 Mac OS X 운영체제에서 폰트 렌더링을 조정합니다. 이 옵션을 사용하면 글꼴의 안티앨리어싱을 그레이스케일(Greyscale)로 처리하여 폰트의 선명도를 조절할 수 있습니다.
}

.opening {
  // background-color: #ffffff;
  background-color: rgba(162, 211, 205, 0.7);
  backdrop-filter: blur(5px);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; // 뷰포트 높이를 화면에 꽉 차도록 설정

  .text {
    text-align: center; // 텍스트 가운데 정렬
    padding: 30px; // 텍스트 주위에 패딩 추가
    color: #3a3a3a; // 텍스트 색상 설정
    font-weight: 600;
    font-size: 20px;
  }
}
