.money {
  padding: 60px 0 !important;
  
  .container {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
   
    .header {
      .title {
        color: #a2d3cd;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 3px;
        line-height: 25px;
        font-weight: 700;
        -webkit-text-stroke: 0 !important;
        margin-bottom: 15px;
      }
    }
    .body {
      font-weight: 400;
      font-size: 1rem;
      color: #585858;
      padding: 10px 0px;
      line-height: 2;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; /* 수직으로 요소를 배치합니다. */

      .bbb {
        margin-bottom: 10px; /* 각 버튼 아래에 간격을 줍니다. */
      }

      .bb {
        text-align: left;
        display: flex;
        font-size: 1rem;
        line-height: 1.8;
        border-radius: 10px;
        padding: 9px;
        padding-left: 20px;
        padding-right: 0px;

        width: 330px;
        border: 1px solid #eee;
        color: #7a7a7a;
        background: RGB(162, 211, 205, 0.6);

        .txt {
          font-family: 'MaruBuri';
          padding-right: 100px;
          font-size: 15px;
        }

        .status_bb {
          align-items: right;
        }
      }

      .accountInfo {
        border-radius: 10px;
        border: 1px solid #ededed;
        width: 329px; /* 최대 너비를 170px로 설정합니다. */

        .accounts {
          font-family: sans-serif;
          display: flex;
          border: 1px solid #ededed;
          padding: 15px 20px;

          .level {
            font-size: 15px;
            vertical-align: baseline;
            color: rgba(45, 45, 45, 0.7);
          }
          .name {
            // font-weight: 1000;
            padding-left: 7px;
            padding-right: 20px;
            font-size: 15px;
            display: inline-block;
            vertical-align: baseline;
          }

          .number {
            padding-left: 10px;
            padding-right: 5px;
            font-size: 15px;
            text-align: right;
          }

          .payImg {
            // padding-left: 5px;
            padding-right: 5px;
            // border-radius: 30px;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
